/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Google web fonts */
@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto/roboto-black-webfont.eot");
  src: url("../fonts/roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto/roboto-black-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto/roboto-light-webfont.eot");
  src: url("../fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*estilos propios de la juego endesa*/
html, body {
  height: 100%; }

body {
  font-family: "robotolight", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #37b1ff; }

ul {
  list-style: none;
  list-style-image: none; }

.logo img {
  display: inline-block; }

main {
  min-height: 100%;
  background-image: url("../img/fondo-juego.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover; }

.wrap-contenido {
  padding-top: 43px; }

.sidebar {
  width: 338px;
  padding-right: 0px;
  padding-left: 0px;
  float: right; }
  .sidebar section {
    margin-bottom: 30px; }

.wrap-premios {
  background-color: white; }
  .wrap-premios .header-premios {
    background-color: #a1a400;
    height: 92px;
    display: table;
    width: 100%;
    padding-right: 35px; }
    .wrap-premios .header-premios h4 {
      display: table-cell;
      vertical-align: middle;
      width: auto;
      vertical-align: middle;
      font-size: 28px;
      padding-left: 22px;
      font-family: "robotomedium", Helvetica, Arial, sans-serif; }
    .wrap-premios .header-premios:before {
      background: url("../img/img-header-premios.png") no-repeat right center;
      content: '';
      display: table-cell;
      vertical-align: middle;
      width: 24px;
      height: 92px; }
    .wrap-premios .header-premios:after {
      background: url("../img/icono-header-premios.png") no-repeat right center;
      content: '';
      display: table-cell;
      vertical-align: middle;
      width: 51px; }
  .wrap-premios .content-premios ul {
    padding: 4px;
    margin-bottom: 0px; }
    .wrap-premios .content-premios ul li {
      display: inline-block; }
      .wrap-premios .content-premios ul li .galeria-premios {
        height: 79px;
        background-color: #efefef;
        position: relative;
        display: table;
        width: 79px; }
        .wrap-premios .content-premios ul li .galeria-premios > figure {
          display: table-cell;
          vertical-align: middle;
          width: auto;
          width: 79px; }
        .wrap-premios .content-premios ul li .galeria-premios .valorpremio {
          width: 28px;
          height: 28px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          display: table;
          width: 28px;
          position: absolute;
          bottom: 5px;
          right: 5px; }
          .wrap-premios .content-premios ul li .galeria-premios .valorpremio .numero {
            display: table-cell;
            vertical-align: middle;
            width: auto;
            font-size: 14px;
            letter-spacing: 10px; }
            .wrap-premios .content-premios ul li .galeria-premios .valorpremio .numero figure {
              display: inline-block; }
              .wrap-premios .content-premios ul li .galeria-premios .valorpremio .numero figure img {
                margin-top: -2px; }
        .wrap-premios .content-premios ul li .galeria-premios .flor {
          background: url("../img/mini-icon-flor.png") no-repeat 15px center #ff6633; }
        .wrap-premios .content-premios ul li .galeria-premios .gota {
          background: url("../img/mini-icon-gota.png") no-repeat 15px center #16b3e3; }
        .wrap-premios .content-premios ul li .galeria-premios .sol {
          background: url("../img/mini-icon-sol.png") no-repeat 15px center #b1b500; }
        .wrap-premios .content-premios ul li .galeria-premios .rayo {
          background: url("../img/mini-icon-rayo.png") no-repeat 15px center #5e004d; }
        .wrap-premios .content-premios ul li .galeria-premios .arbol {
          background: url("../img/mini-icon-arbol.png") no-repeat 15px center #26790d; }
        .wrap-premios .content-premios ul li .galeria-premios .bombilla {
          background: url("../img/mini-icon-bombilla.png") no-repeat 15px center #e7c218; }

.wrap-regalos h4 {
  font-size: 22px;
  margin-bottom: 15px;
  font-family: "robotomedium", Helvetica, Arial, sans-serif; }
.wrap-regalos .list-regalos li {
  display: table;
  width: 100%;
  height: 74px;
  background-color: white;
  padding: 0 15px;
  margin-bottom: 2px; }
  .wrap-regalos .list-regalos li figure {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    width: 100px;
    padding-right: 15px; }
  .wrap-regalos .list-regalos li .content {
    display: table-cell;
    vertical-align: middle;
    width: auto; }
    .wrap-regalos .list-regalos li .content p {
      color: black;
      padding: 0px;
      margin: 0px;
      font-size: 15px; }
      .wrap-regalos .list-regalos li .content p .valor {
        color: #a1a400;
        display: block;
        font-family: "robotomedium", Helvetica, Arial, sans-serif;
        font-size: 17px; }

.wrap-main {
  margin-top: 50px; }
  .wrap-main .text-main {
    font-size: 45px;
    line-height: 55px;
    width: 78%;
    font-family: "robotolight", Helvetica, Arial, sans-serif; }
    .wrap-main .text-main span {
      font-family: "robotobold", Helvetica, Arial, sans-serif; }
  .wrap-main .wrap-juego {
    margin-top: 26px; }
    .wrap-main .wrap-juego .juego {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      height: 326px;
      background-color: #39597b;
      padding: 12px 0px;
      text-align: center;
      position: relative; }
      .wrap-main .wrap-juego .juego .wrap-pegatina {
        position: absolute;
        display: block;
        width: 224px;
        height: 217px;
        background: url("../img/img-pegatina.png") no-repeat right center;
        background-size: 90% auto;
        top: -168px;
        right: -46px; }

.wrap-juego {
  width: 724px;
  margin: 0 auto; }
  .wrap-juego .juego ul {
    margin-bottom: 0px; }
    .wrap-juego .juego ul li {
      display: inline-block; }
  .wrap-juego .juego .ficha-izq {
    padding-left: 3px;
    padding-right: 3px; }
    .wrap-juego .juego .ficha-izq figure {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      background-image: url("../img/fondo-ficha.png");
      background-size: 100% auto; }
  .wrap-juego .juego .ficha-cen {
    padding-left: 3px;
    padding-right: 3px; }
    .wrap-juego .juego .ficha-cen figure {
      background-image: url("../img/fondo-ficha.png");
      background-size: 100% auto; }
  .wrap-juego .juego .ficha-der {
    padding-left: 3px;
    padding-right: 3px; }
    .wrap-juego .juego .ficha-der figure {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      background-image: url("../img/fondo-ficha.png");
      background-size: 100% auto; }

.wrap-accion {
  position: relative;
  width: 724px;
  margin: 0 auto; }
  .wrap-accion a {
    margin-top: 35px;
    display: inline-block;
    outline: none; }
    .wrap-accion a img {
      width: 160px;
      height: 160px; }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -webkit-transform: translateX(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -webkit-transform: translateX(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -webkit-transform: translateX(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -moz-transform: translateX(0); }
  40% {
    -moz-transform: translateY(-30px);
    -moz-transform: translateX(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -moz-transform: translateX(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
    -o-transform: translateX(0); }
  40% {
    -o-transform: translateY(-30px);
    -o-transform: translateX(-30px); }
  60% {
    -o-transform: translateY(-15px);
    -o-transform: translateX(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    transform: translateX(0); }
  40% {
    transform: translateY(-30px);
    transform: translateX(-30px); }
  60% {
    transform: translateY(-15px);
    transform: translateX(-15px); } }
  .wrap-accion .arrow-accion {
    background: url("../img/arrow-animated.png") no-repeat right center;
    width: 139px;
    height: 111px;
    top: 35px;
    left: 170px;
    position: absolute;
    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite; }

.wrap-banner {
  position: relative; }
  .wrap-banner .text-banner {
    position: absolute;
    text-align: center;
    font-size: 24px;
    width: 100%;
    line-height: 30px;
    top: 10px; }
    .wrap-banner .text-banner span {
      display: block;
      font-family: "robotomedium", Helvetica, Arial, sans-serif; }

.modal {
  color: black; }
  .modal .modal-dialog .modal-content {
    border-radius: 0px;
    text-align: center;
    overflow: hidden; }
    .modal .modal-dialog .modal-content .modal-header {
      border: none; }
      .modal .modal-dialog .modal-content .modal-header .close {
        color: #2696dc;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        outline: none; }
    .modal .modal-dialog .modal-content .modal-body .producto {
      margin-bottom: 30px; }
      .modal .modal-dialog .modal-content .modal-body .producto h2 {
        font-size: 26px;
        font-family: "robotoregular", Helvetica, Arial, sans-serif; }
    .modal .modal-dialog .modal-content .modal-body .btn {
      font-family: "robotolight", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      background-color: #2696dc;
      color: white;
      font-size: 14px;
      border: none;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      margin-bottom: 10px;
      height: 34px;
      outline: none; }
    .modal .modal-dialog .modal-content .modal-body .compartir {
      background-color: #3b579d;
      background: url("../img/img-btn-fc.png") no-repeat 10px bottom #3b579d;
      padding-left: 34px; }

.modal-envio .modal-dialog .modal-content {
  background: url("../img/fondo-modal-envio.png") no-repeat top left;
  text-align: left;
  padding-bottom: 50px; }
  .modal-envio .modal-dialog .modal-content .modal-body {
    padding: 0 50px 50px; }
    .modal-envio .modal-dialog .modal-content .modal-body .form-control {
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      width: 103%;
      z-index: 0; }
    .modal-envio .modal-dialog .modal-content .modal-body .form-group .checkbox label {
      font-family: "robotolight", Helvetica, Arial, sans-serif; }

.modal-content-texto h3, .modal-premio .modal-dialog h3, .modal-envio .modal-dialog h3 {
  font-size: 40px;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  margin-bottom: 25px; }
  .modal-content-texto h3 span, .modal-premio .modal-dialog h3 span, .modal-envio .modal-dialog h3 span {
    display: block;
    color: #2696dc;
    font-family: "robotobold", Helvetica, Arial, sans-serif; }

.modal-estandar .modal-dialog .modal-content .modal-body {
  overflow: hidden; }
  .modal-estandar .modal-dialog .modal-content .modal-body h3 {
    font-size: 24px;
    font-family: "robotolight", Helvetica, Arial, sans-serif;
    margin-bottom: 25px;
    margin-top: 0px; }
    .modal-estandar .modal-dialog .modal-content .modal-body h3 span {
      display: block;
      color: #2696dc;
      font-family: "robotomedium", Helvetica, Arial, sans-serif; }

.ie8 .wrap-accion .arrow-accion {
  left: 170px; }
.ie8 img, .ie8 img.img-responsive {
  width: auto;
  height: auto;
  max-width: none; }
.ie8 .content-premios {
  overflow: hidden; }
  .ie8 .content-premios ul {
    padding-right: 0px;
    padding-left: 0px; }
    .ie8 .content-premios ul li {
      float: left; }
      .ie8 .content-premios ul li .galeria-premios {
        margin: 2.5px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .valorpremio {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .bombilla {
  background: url("../img/cbombilla.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .bombilla span {
    background: url("../img/mini-icon-bombilla.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .flor {
  background: url("../img/cflor.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .flor span {
    background: url("../img/mini-icon-flor.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .gota {
  background: url("../img/cgota.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .gota span {
    background: url("../img/mini-icon-gota.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .sol {
  background: url("../img/csol.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .sol span {
    background: url("../img/mini-icon-sol.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .rayo {
  background: url("../img/crayo.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .rayo span {
    background: url("../img/mini-icon-rayo.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .arbol {
  background: url("../img/carbol.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .arbol span {
    background: url("../img/mini-icon-arbol.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .flor {
  background: url("../img/cflor.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .flor span {
    background: url("../img/mini-icon-flor.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }
.ie8 .wrap-premios .content-premios ul li .galeria-premios .flor {
  background: url("../img/cflor.png") no-repeat top left transparent;
  color: white; }
  .ie8 .wrap-premios .content-premios ul li .galeria-premios .flor span {
    background: url("../img/mini-icon-flor.png") no-repeat 15px center;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 27px; }

@media (max-width: 1200px) {
  .sidebar {
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px; }
    .sidebar section {
      width: 338px;
      float: left; }
    .sidebar .wrap-regalos {
      padding-left: 15px;
      padding-right: 15px; }
    .sidebar .wrap-banner {
      width: 234px; }
      .sidebar .wrap-banner .text-banner {
        font-size: 18px;
        top: 7px;
        line-height: 22px; }
      .sidebar .wrap-banner img {
        width: 100%; }

  .wrap-main .text-main {
    font-size: 37px;
    line-height: 45px;
    width: 78%;
    padding-left: 108px; } }
@media (max-width: 991px) {
  .wrap-main .text-main {
    font-size: 37px;
    line-height: 45px;
    width: 78%;
    padding-left: 0px; }
  .wrap-main .wrap-juego .juego .wrap-pegatina {
    background-size: 78% auto;
    top: -155px;
    right: -4%; }

  .sidebar .wrap-regalos {
    width: 50%;
    float: right; }
  .sidebar .wrap-banner {
    width: 338px;
    clear: both; }
    .sidebar .wrap-banner .text-banner {
      font-size: 24px;
      line-height: 30px;
      top: 10px; } }
@media (max-width: 860px) {
  .wrap-main .text-main {
    font-size: 32px;
    line-height: 39px;
    width: 78%; }
  .wrap-main .wrap-juego .juego .wrap-pegatina {
    background-size: 78% auto;
    top: -155px;
    right: 0%; } }
@media (max-width: 800px) {
  .wrap-main .wrap-juego {
    width: 100%; }
    .wrap-main .wrap-juego .juego {
      height: auto; }
      .wrap-main .wrap-juego .juego li {
        width: 32%; } }
@media (min-width: 768px) {
  .modal-premio .modal-dialog {
    width: 390px; }

  .modal-envio .modal-dialog {
    width: 718px; }
    .modal-envio .modal-dialog .modal-body {
      padding: 50px; }

  .modal-estandar .modal-dialog {
    width: 800px; } }
@media (max-width: 758px) {
  .wrap-accion {
    width: 100%; }
    .wrap-accion .arrow-accion {
      display: none; }
    .wrap-accion a {
      margin-top: 20px; }
      .wrap-accion a img {
        width: 100px;
        height: auto; } }
@media (max-width: 752px) {
  .sidebar {
    padding-right: -15px;
    padding-left: -15px; }
    .sidebar .wrapcolright {
      margin-bottom: 20px; }
      .sidebar .wrapcolright .wrap-regalos {
        margin: 0 auto;
        float: none;
        padding-left: 0px;
        padding-right: 0px;
        width: 338px;
        margin-bottom: 20px; }
      .sidebar .wrapcolright .wrap-premios {
        margin: 0 auto 20px;
        float: none; }
      .sidebar .wrapcolright .wrap-banner {
        margin: 0 auto 20px;
        float: none; } }
@media (max-width: 715px) {
  .wrap-main .text-main {
    font-size: 28px;
    line-height: 33px;
    width: 65%; }
  .wrap-main .wrap-juego .juego .wrap-pegatina {
    background-size: 65% auto;
    top: -155px;
    right: 0%; } }
@media (max-width: 697px) {
  .wrap-main .wrap-juego .juego .wrap-pegatina {
    top: -185px; } }
@media (max-width: 535px) {
  .wrap-contenido {
    padding-top: 15px; }

  .wrap-main {
    margin-top: 15px; }
    .wrap-main .text-main {
      font-size: 25px;
      line-height: 28px;
      width: 65%; }
    .wrap-main .wrap-juego .juego .wrap-pegatina {
      background-size: 50% auto;
      top: -171px;
      right: 0%; } }
@media (max-width: 487px) {
  .wrap-main .text-main {
    line-height: 25px;
    text-align: center;
    width: 100%; }
  .wrap-main .wrap-juego .juego .wrap-pegatina {
    display: none; }

  .modal-envio .modal-dialog .modal-content .modal-body .form-control {
    width: 112%; }

  .logo .img-responsive {
    display: block; } }
@media (max-width: 370px) {
  .sidebar .wrapcolright .wrap-regalos {
    width: 260px; }
    .sidebar .wrapcolright .wrap-regalos figure {
      width: 80px; }
  .sidebar .wrapcolright .wrap-premios {
    width: 260px; }
    .sidebar .wrapcolright .wrap-premios .header-premios {
      padding-right: 17px; }
      .sidebar .wrapcolright .wrap-premios .header-premios h4 {
        font-size: 23px;
        padding-left: 10px; }
  .sidebar .wrapcolright .wrap-banner {
    width: 260px; }
    .sidebar .wrapcolright .wrap-banner .text-banner {
      font-size: 18px;
      line-height: 20px; }

  .modal-premio .modal-dialog .modal-content .modal-body .compartir, .modal-estandar .modal-dialog .modal-content .modal-body .compartir {
    font-size: 10px; }

  .modal-estandar .modal-dialog .modal-content .modal-body h3, .modal-envio .modal-dialog .modal-content .modal-body h3 {
    font-size: 16px; }
    .modal-estandar .modal-dialog .modal-content .modal-body h3 span, .modal-envio .modal-dialog .modal-content .modal-body h3 span {
      font-size: 16px; }

  .modal-envio .modal-dialog .modal-content .modal-body .checkbox {
    font-size: 10px; }

  .wrap-regalos .list-regalos li .content p {
    font-size: 14px; }
    .wrap-regalos .list-regalos li .content p .valor {
      font-size: 16px; } }

/*# sourceMappingURL=styles.css.map */
