
@media (max-width: 1200px) {
  .sidebar{
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    section{
      width: 338px;
      float: left;
    }
    .wrap-regalos{
      padding-left: 15px;
      padding-right: 15px;
    }
    .wrap-banner{
      width: 234px;
      .text-banner{
        font-size: 18px;
        top: 7px;
        line-height: 22px;
      }
      img{
        width: 100%;
      }
    }
  }
  .wrap-main{
    .text-main{
      font-size: 37px;
      line-height: 45px;
      width: 78%;
      padding-left: 108px;
    }
  }
}
@media (max-width: 991px) {
  .wrap-main{
    .text-main{
      font-size: 37px;
      line-height: 45px;
      width: 78%;
      padding-left: 0px;
    }
    .wrap-juego{
      .juego{
        .wrap-pegatina{
          background-size: 78% auto;
          top: -155px;
          right: -4%;
        }
      }
    }     
  }
  .sidebar{  
    .wrap-regalos{
      width: 50%;
      float: right;
    }
    .wrap-banner{
      width: 338px;
      clear: both;
      .text-banner{
        font-size: 24px;
        line-height: 30px;
        top: 10px;
      }
    }
  }
}
@media (max-width: 860px) {
  .wrap-main{
    .text-main{
      font-size: 32px;
      line-height: 39px;
      width: 78%;
    }
    .wrap-juego{
      .juego{
        .wrap-pegatina{
          background-size: 78% auto;
          top: -155px;
          right: 0%;
        }
      }
    }     
  }
}
@media (max-width: 800px) {
  .wrap-main{
    .wrap-juego{
      width: 100%;
      .juego{
        height: auto;
        li{
          width: 32%;
        }
      }
    }
  }
}
//rwd modal
//modal premios
@media (min-width: 768px){
  .modal-premio{
    .modal-dialog{
      width: 390px;
    }
  }
  .modal-envio{
    .modal-dialog{
      width: 718px;
      .modal-body{
        padding: 50px;
      }
    }
  }
  .modal-estandar{
    .modal-dialog{
      width: 800px;
    }
  }  
}
@media (max-width: 758px) {
  .wrap-accion{
    width: 100%;
    .arrow-accion{
      display: none;
    }
    a{
      margin-top: 20px;
      img{
        width:  100px;
        height: auto;
      }
    }
  }
}
@media (max-width: 752px) {
  .sidebar{ 
    padding-right: -15px;
    padding-left: -15px;
    .wrapcolright{
      margin-bottom: 20px;
      .wrap-regalos{
        margin: 0 auto;
        float: none;
        padding-left: 0px;
        padding-right: 0px;
        width: 338px;
        margin-bottom: 20px;
      }
      .wrap-premios{
        margin: 0 auto 20px;
        float: none;
      }
      .wrap-banner{
        margin: 0 auto 20px;
        float: none;
      }
    }
  }
}
@media (max-width: 715px) {
  .wrap-main{
    .text-main{
      font-size: 28px;
      line-height: 33px;
      width: 65%;
    }
    .wrap-juego{
      .juego{
        .wrap-pegatina{
          background-size: 65% auto;
          top: -155px;
          right: 0%;
        }
      }
    }     
  }
}
@media (max-width: 697px) {
  .wrap-main{
    .wrap-juego{
      .juego{
        .wrap-pegatina{
          top: -185px;
        }
      }
    }     
  }
}
@media (max-width: 535px) {
  .wrap-contenido{
    padding-top: 15px;
  }
  .wrap-main{
    margin-top: 15px;
    .text-main{
      font-size: 25px;
      line-height: 28px;
      width: 65%;
    }
    .wrap-juego{
      .juego{
        .wrap-pegatina{
          background-size: 50% auto;
          top: -171px;
          right: 0%;
        }
      }
    }     
  }
}
@media (max-width: 487px) {
  .wrap-main{
    .text-main{
      line-height: 25px;
      text-align: center;
      width: 100%;
    }
    .wrap-juego{
      .juego{
        .wrap-pegatina{
          display: none;
        }
      }
    }     
  }
  .modal-envio{
    .modal-dialog{
      .modal-content{
        .modal-body{
          .form-control{
            width: 112%;
          }
        }
      }
    }
  }
  .logo{
    .img-responsive{
      display: block;
    }
  }
}
@media (max-width: 370px) {
  .sidebar{ 
    .wrapcolright{
      .wrap-regalos{
        width: 260px;
        figure{
          width: 80px;
        }
      }
      .wrap-premios{
        width: 260px;
        .header-premios{
          padding-right: 17px;
          h4{
            font-size: 23px;
            padding-left: 10px;
          }
        }
      }
      .wrap-banner{
        width: 260px;
        .text-banner{
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
  .modal-premio, .modal-estandar{
    .modal-dialog{
      .modal-content{
        .modal-body{
          .compartir{
            font-size: 10px;
          }
        }
      }
    }
  }
  .modal-estandar, .modal-envio{
    .modal-dialog{
      .modal-content{
        .modal-body{
          h3{
            font-size: 16px;
            span{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .modal-envio{
    .modal-dialog{
      .modal-content{
        .modal-body{
          .checkbox{
            font-size: 10px;
          }
        }
      }
    }
  }
  .wrap-regalos{
    .list-regalos{
      li{
        .content{
          p{
            font-size: 14px;
            .valor{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
