/*estilos propios de la juego endesa*/
html,body{
  height: 100%;
}
body{
  font-family: $body-font;
  color: $colorbase;
  background-color: $colorfondobase;
}
ul{
  list-style: none;
  list-style-image: none; 
}
.logo{
  img{
    display: inline-block;
  }
}
//contenido
main{
  min-height: 100%;
  background-image: url('../img/fondo-juego.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.wrap-contenido{
  padding-top: 43px;
}
//columna derecha
.sidebar{
  width: 338px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  section{
    margin-bottom: 30px;
  }
}
//premios
.wrap-premios{
  background-color: rgba(255, 255, 255, 1);
  .header-premios{
    background-color: $color-secundario;
    height: 92px;
    @include vertical-middle(table, 100%); 
    padding-right: 35px;
    h4{
      @include vertical-middle(table-cell, auto);
      vertical-align: middle;
      font-size: 28px;
      padding-left: 22px;
      font-family: $robotomedium;
    }
    &:before {
      background: url('../img/img-header-premios.png') no-repeat right center;
      content: '';
      @include vertical-middle(table-cell, 24px);
      height: 92px;
    }
    &:after {
      background: url('../img/icono-header-premios.png') no-repeat right center;
      content: '';
      @include vertical-middle(table-cell, 51px);
    }    
  }
  .content-premios{
    ul{
      padding: 4px;
      margin-bottom: 0px;
      li{
        display: inline-block;
        .galeria-premios{
          height: 79px;
          background-color: $color-fondo-premios;
          position: relative;
          @include vertical-middle(table, 79px);        
          > figure{
            @include vertical-middle(table-cell, auto);
            width: 79px;
          }
          .valorpremio{
            @include circulo-premio;
            @include vertical-middle(table, 28px);   
            position: absolute;
            bottom: 5px;
            right: 5px;
            .numero{
              @include vertical-middle(table-cell, auto);              
              font-size: 14px;
              letter-spacing: 10px;
              figure{
                display: inline-block;
                img{
                  margin-top: -2px;
                }
              }
            }
          }
          .flor{
            @include flor;
          }
          .gota{
            @include gota; 
          }
          .sol{
            @include sol;
          }
          .rayo{
            @include rayo;
          }
          .arbol{
            @include arbol;
          }
          .bombilla{
            @include bombilla;
          }                                                   
        }
      }
    }
  }
}
//regalos
.wrap-regalos{
  h4{
    font-size: 22px;
    margin-bottom: 15px;
    font-family: $robotomedium;
  }
  .list-regalos{
    li{
      @include vertical-middle(table, 100%);
      height: 74px;
      background-color: rgba(255, 255, 255, 1);
      padding: 0 15px;
      margin-bottom: 2px;
      figure{
        @include vertical-middle(table-cell, auto);
        width: 100px;
        padding-right: 15px;
      }
      .content{
        @include vertical-middle(table-cell, auto);
        p{
          color: $color-producto;
          padding: 0px;
          margin: 0px;
          font-size: 15px;
          .valor{
            color: $color-secundario;
            display: block;
            font-family: $robotomedium;
            font-size: 17px;
          }
        }
      }
    }     
  }
}
//main
.wrap-main{
  margin-top: 50px;
  .text-main{
    font-size: 45px;
    line-height: 55px;
    width: 78%;
    font-family: $robotolight;   
    span{
      font-family: $robotobold; 
    }
  }
  .wrap-juego{
    margin-top: 26px;
    .juego{
      @include border-radius(10px);
      height: 326px;
      background-color: $color-fondo-juego;
      padding: 12px 0px;
      text-align: center;
      position: relative;
      .wrap-pegatina{
        position: absolute;
        display: block;
        width: 224px;
        height: 217px;
        background: url('../img/img-pegatina.png') no-repeat right center;   
        background-size: 90% auto;
        top: -168px;
        right: -46px; 
      }      
    }
  }
}
//maquina
.wrap-juego{
  width: 724px;
  margin: 0 auto;
  .juego{
    ul{
      margin-bottom: 0px;
      li{
        display: inline-block;
      }
    }
    .ficha-izq{
      padding-left: 3px;
      padding-right: 3px;
      figure{
        @include border-left-radius(10px);
        background-image: url('../img/fondo-ficha.png');
        background-size: 100% auto; 
      }
    }
    .ficha-cen{
      padding-left: 3px;
      padding-right: 3px;
      figure{
        background-image: url('../img/fondo-ficha.png');
        background-size: 100% auto; 
      }
    }
    .ficha-der{
      padding-left: 3px;
      padding-right: 3px;      
      figure{
        @include border-right-radius(10px);
        background-image: url('../img/fondo-ficha.png');
        background-size: 100% auto;      
      }
    }
  }
}
//boton jugar
.wrap-accion{
  position: relative;
  width: 724px;
  margin: 0 auto;  
  a{
    margin-top: 35px;
    display: inline-block;
    outline: none;
    img{
      width: 160px;
      height: 160px;
    }
  }
  //Animacion
  @-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);-webkit-transform: translateX(0);} 
   40% {-webkit-transform: translateY(-30px);-webkit-transform: translateX(-30px);}
   60% {-webkit-transform: translateY(-15px);-webkit-transform: translateX(-15px);}
  }
   
  @-moz-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);-moz-transform: translateX(0);}
   40% {-moz-transform: translateY(-30px);-moz-transform: translateX(-30px);}
   60% {-moz-transform: translateY(-15px);-moz-transform: translateX(-15px);}
  }
   
  @-o-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);-o-transform: translateX(0);}
   40% {-o-transform: translateY(-30px);-o-transform: translateX(-30px);}
   60% {-o-transform: translateY(-15px);-o-transform: translateX(-15px);}
  }
  @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);transform: translateX(0);}
   40% {transform: translateY(-30px);transform: translateX(-30px);}
   60% {transform: translateY(-15px);transform: translateX(-15px);}
  }
  .arrow-accion {
    background: url('../img/arrow-animated.png') no-repeat right center;  
    width: 139px;
    height: 111px;
    top:35px;
    left: 170px;
    position: absolute;
    animation: bounce 1.5s infinite;
   -webkit-animation: bounce 1.5s infinite;
   -moz-animation: bounce 1.5s infinite;
   -o-animation: bounce 1.5s infinite;
  }
}
//banner
.wrap-banner{
  position: relative;
  .text-banner {
    position: absolute;
    text-align: center;
    font-size: 24px;
    width: 100%;
    line-height: 30px;
    top: 10px;
    span{
      display: block;
      font-family: $robotomedium;
    }
  }
}
//Ventanas Modales
.modal{
  color: $color-terciario;
  .modal-dialog{
    .modal-content{
      border-radius: 0px;
      text-align: center;
      overflow: hidden;      
      .modal-header{
        border: none;
        .close{
          color: $color-endesa;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100);
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1;  
          outline: none;        
        }
      }
      .modal-body{
        .producto{
          margin-bottom: 30px;
          h2{
            font-size: 26px;
            font-family: $robotoregular;
          }
        }
        .btn{
          font-family: $robotolight;
          text-transform: uppercase;
          background-color: $color-endesa;
          color: $colorbase;
          font-size: 14px;
          border: none;
          @include border-radius(15px);
          margin-bottom: 10px;
          height: 34px;
          outline: none;
        }
        .compartir{
          background-color: $color-boton-compatir;
          background: url('../img/img-btn-fc.png') no-repeat 10px bottom $color-boton-compatir;
          padding-left: 34px;          
        }
      }
    }
  }
}
.modal-envio{
  .modal-dialog{
    .modal-content{
      background: url('../img/fondo-modal-envio.png') no-repeat top left;  
      text-align: left;
      padding-bottom: 50px;
      .modal-body{
        padding: 0 50px 50px;
        .form-control{
          @include border-left-radius(15px);
          width: 103%;
          z-index: 0;
        }
        .form-group{
          .checkbox{
            label{
              font-family: $robotolight;
            }
          }
        }
      }
    }
  }
}
.modal-content-texto {
  h3{
    font-size: 40px;
    font-family: $robotoregular;
    margin-bottom: 25px;
    span{
      display: block;
      color: $color-endesa;
      font-family: $robotobold;
    }
  }
}
.modal-premio, .modal-envio{
  .modal-dialog {
    @extend .modal-content-texto;
  }
}
.modal-estandar {
  .modal-dialog {
    .modal-content {
      .modal-body{
        overflow: hidden;
        h3{
          font-size: 24px;
          font-family: $robotolight;
          margin-bottom: 25px;
          margin-top: 0px;
          span{
            display: block;
            color: $color-endesa;
            font-family: $robotomedium;
          }
        }
      }
    }
  }
}
//ie8
.ie8{
  .wrap-accion{
    .arrow-accion{
      left: 170px;
    }
  } 
  img, img.img-responsive {
     width:auto;
     height:auto;
     max-width: none;
  }
  .content-premios{
    overflow: hidden;
    ul{
      padding-right: 0px;
      padding-left: 0px;
      li{
        float: left;
        .galeria-premios{
          margin: 2.5px;
        }
      }
    }
  }
  .wrap-premios{
    .content-premios{
      ul{
        li{
          .galeria-premios{
            .valorpremio{
              -moz-border-radius: none;
              -webkit-border-radius: none;
              border-radius: none;
            }
            .bombilla{
              background: url('../img/cbombilla.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-bombilla.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }
            .flor{
              background: url('../img/cflor.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-flor.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }      
            .gota{
              background: url('../img/cgota.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-gota.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }
            .sol{
              background: url('../img/csol.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-sol.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }
            .rayo{
              background: url('../img/crayo.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-rayo.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }
            .arbol{
              background: url('../img/carbol.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-arbol.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }
            .flor{
              background: url('../img/cflor.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-flor.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }
            .flor{
              background: url('../img/cflor.png') no-repeat top left transparent;
              color: $colorbase;
              span{
                background: url('../img/mini-icon-flor.png') no-repeat 15px center;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 27px;
              }
            }
          }
        }
      }
    }
  }
}