div.col-xs-12.col-md-12.col-lg-8
    h1.logo
      a(href="#")
        span.sr-only Tiendatwenergy
        img(src="img/logo.png" alt="Tiendatwenergy").img-responsive
    div.row
      div.col-xs-12.col-md-12.col-lg-12.wrap-main
        p.text-main
          span Tenemos un regalo para ti, 
          | haz tu tirada y averigua que te ha tocado:
        div.wrap-juego
          div.juego
            div.wrap-pegatina
            ul
              li.ficha-izq
                figure
                  img(src="img/img-ficha-sol.png").img-responsive
              li.ficha-cen
                figure
                  img(src="img/img-ficha-gota.png").img-responsive            
              li.ficha-der
                figure
                  img(src="img/img-ficha-flor.png").img-responsive      
        div.wrap-accion
          div.arrow-accion
          div.boton-accion.text-center
            a(href="#" target="_blank" data-toggle="modal" data-target="#mpremio").accion-jugar
              img(src="img/boton-accion.png" alt="Jugar").img-responsive
//Modal premio
include _modal_premio.jade
//Modal envio regalo
include _modal_envio.jade
//Modal envio regalo
include _modal_estandar.jade
