div.col-xs-12.col-md-12.col-lg-4
  div.sidebar
    div.wrapcolright
      section.wrap-premios
        div.header-premios
          h4 ¿Qué puedo conseguir?
        div.content-premios
          ul.text-center
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio1.png")
                div.valorpremio.flor
                  span.numero 3
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio2.png")
                div.valorpremio.gota
                  span.numero 3
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio3.png")
                div.valorpremio.sol
                  span.numero 3                
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio4.png")
                div.valorpremio.rayo
                  span.numero 3
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio5.png")
                div.valorpremio.arbol
                  span.numero 3
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio6.png")
                div.valorpremio.bombilla
                  span.numero 3
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio7.png")
                div.valorpremio.flor
                  span.numero 2
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio8.png")
                div.valorpremio.gota
                  span.numero 2
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio9.png")
                div.valorpremio.sol
                  span.numero 2
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio10.png")
                div.valorpremio.rayo
                  span.numero 2
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio11.png")
                div.valorpremio.arbol
                  span.numero 2
            li
              div.galeria-premios
                figure.text-center
                  img(src="img/img-premio12.png")
                div.valorpremio.bombilla
                  span.numero 2
      section.wrap-regalos
        h4.text-left Últimos regalos enviados:
        ul.list-regalos
          li
            figure.text-center
              img(src="img/img-regalo1.png")
            div.content
              p.text-left Cámara Philips
                span.valor Valorada en 170€
          li
            figure.text-center
              img(src="img/img-regalo2.png")
            div.content
              p.text-left Cámara Philips
                span.valor Valorada en 299€
          li
            figure.text-center
              img(src="img/img-regalo3.png")
            div.content
              p.text-left Cámara Philips
                span.valor Valorada en 18€
      section.wrap-banner
        div.text-banner Hemos regalado ya 
          span 143 productos
        figure.text-center
          img(src="img/img-banner.png")