meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

title Tiendatwenergy Juego
meta(name="description" content="Descripcion")
meta(name="keywords" content="keyword1, keyword2, keyword3")
link(rel="canonical" href="")
link(type="text/css" rel="stylesheet" href="css/styles.min.css")

<!--[if lt IE 9]>
script(src="js/scripts-ie8.min.js")
<![endif]-->