//Modal premio
div(tabindex="-1" role="dialog" aria-labelledby="mpremio" aria-hidden="true")#mpremio.modal.fade.modal-premio
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button" data-dismiss="modal" aria-hidden="true").close &times
      div.modal-body
        h3 ¡Enhorabuena!
          span Te ha tocado:
        div.img-premio
          figure.text-center
            img(src="img/img-premio-modal.png")
        div.producto
          h2 Cafetera Bosch
        button(type="button" data-toggle="modal" data-target="#menvio").btn.btn-default.recibir recibir por e-mail
        button(type="button").btn.btn-default.compartir compartir para recibir una 2ª tirada