div(tabindex="-1" role="dialog" aria-labelledby="menvio" aria-hidden="true")#menvio.modal.fade.modal-envio
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button" data-dismiss="modal" aria-hidden="true").close &times
      div.modal-body
        h3 Necesitamos tu e-mail
          span para poder enviarte tu regalo:
        form(role="form").form-horizontal.div-form
          div.col-xs-12.col-sm-8.col-md-8.col-lg-8
            div.form-group.input-group
              input.form-control(type="text")
              span.input-group-btn
                button.btn.btn-default(type="button" data-toggle="modal" data-target="#mestandar").btn-enviar ENVIAR
          div.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-right
            button(type="button").btn.btn-default.compartir.btn-fb entrar con facebook
          div.col-xs-12.col-sm-12.col-md-12.col-lg-12
            div.form-group
              div.checkbox
                label
                  input(type="checkbox", value="")
                  | Acepto la 
                  a(href="#" target="_blank") Política de Privacidad 
                  | y recibir comunicaciones comerciales sobre los productos y servicios de la Tienda Twenergy.