div(tabindex="-1" role="dialog" aria-labelledby="mestandar" aria-hidden="true")#mestandar.modal.fade.modal-estandar
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button" data-dismiss="modal" aria-hidden="true").close &times
      div.modal-body
        h3 Se te han enviado las instrucciones para recibir el premio a
          span nombreganador@gmail.com
        form(role="form").form-horizontal.div-form
          div.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
            button(type="button").btn.btn-default.compartir compartir para recibir una 2ª tirada
