// Fonts
$robotolight: 'robotolight', Helvetica, Arial, sans-serif;
$robotoblack: 'robotoblack', Helvetica, Arial, sans-serif;
$robotoregular: 'robotoregular', Helvetica, Arial, sans-serif;
$body-font: $robotolight;
$robotomedium: 'robotomedium', Helvetica, Arial, sans-serif;
$robotobold: 'robotobold', Helvetica, Arial, sans-serif;

//colores
$colorfondobase: rgba(55, 177, 255, 1);
$colorbase: rgba(255, 255, 255, 1);
$color-secundario: rgba(161, 164, 0, 1);
$color-terciario: rgba(0, 0, 0, 1);
$color-producto: rgba(0, 0, 0, 1);
$color-fondo-premios: rgba(239, 239, 239, 1);
$color-fondo-juego: rgba(57, 89, 123, 1);
$color-fondo-fichas: rgba(255, 255, 255, 1);
$color-endesa: rgba(38, 150, 220, 1);
$color-boton-compatir: rgba(59, 87, 157, 1);
$color-flor: rgba(255, 102, 51, 1);
$color-gota: rgba(22, 179, 227, 1);
$color-sol: rgba(177, 181, 0, 1);
$color-rayo: rgba(94, 0, 77, 1);
$color-arbol: rgba(38, 121, 13, 1);
$color-bombilla: rgba(231, 194, 24, 1);

//mixins
@mixin vertical-middle($table, $anchotable){
  display: $table;
  @if $table == 'table' {
    width: $anchotable;
  }
  @if $table == 'table-cell' {
    vertical-align: middle;
    width: $anchotable;
  }
}
@mixin circulo-premio{
     width: 28px;
     height: 28px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}
//border radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}
//Right border radius
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
//Left border radius
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
//mixins
@mixin flor{
  background: url('../img/mini-icon-flor.png') no-repeat 15px center $color-flor;
}
@mixin gota{
  background: url('../img/mini-icon-gota.png') no-repeat 15px center $color-gota;
}
@mixin sol{
  background: url('../img/mini-icon-sol.png') no-repeat 15px center $color-sol;
}
@mixin arbol{
  background: url('../img/mini-icon-arbol.png') no-repeat 15px center $color-arbol;
}
@mixin rayo{
  background: url('../img/mini-icon-rayo.png') no-repeat 15px center $color-rayo;
}
@mixin bombilla{
  background: url('../img/mini-icon-bombilla.png') no-repeat 15px center $color-bombilla;
}
